In [36]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import initcap
from pyspark.sql import functions as F


spark = SparkSession.builder.getOrCreate()

In [40]:
df_sales = (spark.read.option("delimiter", ',').csv('/Users/denis/Desktop/Andersen/1-task:spark/Raw_data/sales.csv',
                                                    header=True, inferSchema=True))
df_customers = (spark.read.option("delimiter", ',').csv('/Users/denis/Desktop/Andersen/1-task:spark/Raw_data/customers.csv',
                                                    header=True, inferSchema=True))

In [16]:
df_sales.show()
df_customers.show()

+----------+-----------+----------+--------+-----------+
|  Txn_Date|Customer_Id|Product_Id|Quantity|Total_Sales|
+----------+-----------+----------+--------+-----------+
|07-03-2021|       6279|         4|       0|       80.0|
|05-03-2021|       1234|         8|       0|      100.0|
|19-02-2021|       1698|         3|       0|       30.0|
|13-03-2021|        400|         7|       0|       60.0|
|13-02-2021|       2270|         1|       2|        0.0|
|27-02-2021|       7940|         4|       2|        0.0|
|02-03-2021|       9235|        10|       1|        0.0|
|30-01-2021|       3382|         9|       2|        0.0|
|12-03-2021|       4124|         5|       1|        0.0|
|02-01-2021|       2103|         1|       2|       20.0|
|04-03-2021|       3965|         5|       1|       10.0|
|13-03-2021|       9459|         3|       2|       60.0|
|21-01-2021|       8486|         6|       1|       50.0|
|01-03-2021|       5523|        10|       1|       25.0|
|16-02-2021|       7154|         2|       2|       40.0|
|04-02-2021|       9519|         3|       1|       30.0|
|07-01-2021|       6424|         3|       1|       30.0|
|23-01-2021|       5585|        10|       1|       25.0|
|10-03-2021|         17|         8|       1|      100.0|
|02-01-2021|       2103|         1|       2|       20.0|
+----------+-----------+----------+--------+-----------+
only showing top 20 rows

+-----------+------+----------+-----------+---------+------+------+----------+--------------------+
|Customer_ID|Prefix|First_Name|Middle_Name|Last_Name|Suffix|Gender|       DoB|             Address|
+-----------+------+----------+-----------+---------+------+------+----------+--------------------+
|          1|   MR.|      PAUL|       NULL|  SHELTON|  NULL|     M|  1/2/1908|225; Hanson Strav...|
|          2|  MRS.|      LISA|       NULL|   CLARKE|  NULL|     F|  6/3/1928|95071; Jamie Stre...|
|          3|   DR.|       LEE|       NULL| HARRISON|  NULL|     M|12/30/2019|84857; Joshua Cap...|
|          4|   MS.|     CHLOE|       NULL|    JONES|  NULL|     F| 5/21/2012|538; Paul Forge P...|
|          5|  MRS.|   KRISTEN|       NULL|  JACKSON|  NULL|     F|11/13/1910|253; Cordova Run ...|
|          6|  MISS|    MONICA|       NULL|    PITTS|  NULL|     F|10/10/1930|8551; Shari Under...|
|          7|  MRS.|   KATELYN|       NULL|   GORDON|  NULL|     F|11/21/1928|88933; James Stre...|
|          8|   MR.|      CORY|       NULL|   NEWTON|  NULL|     M| 8/25/2013|920; Gregory Fall...|
|          9|   MR.|    DANIEL|       NULL|      LEE|  NULL|     M| 11/5/1917|23384; Randall Pi...|
|         10|   MR.|    JUSTIN|       NULL|     ROSS|  NULL|     M| 12/8/2009|801; Jake Union B...|
|         11|  MRS.|      JILL|       NULL|   TAYLOR|  NULL|     F| 8/13/1985|638; Hansen Circl...|
|         12|   MR.|   ANTHONY|       NULL|   WALKER|  NULL|     M|  6/3/2020|698; Michael Heig...|
|         13|  MISS|    SANDRA|       NULL| ANDERSON|  NULL|     F|  8/2/2017|169; Prince Port ...|
|         14|  MRS.|   TIFFANY|       NULL|SCHROEDER|  NULL|     F| 2/27/1957|9538; Thomas Miss...|
|         15|   DR.|   ZACHARY|       NULL|  SIMPSON|  NULL|     M| 3/26/1968|6446; Hunter Ligh...|
|         16|   DR.| CHRISTINA|       NULL|    BANKS|  NULL|     F| 7/25/1997|440; Robinson Vil...|
|         17|   MR.|      TONY|       NULL|   MILLER|  NULL|     M|12/16/1956|82609; Michael Bu...|
|         18|   MR.|     BILLY|       NULL| ROBINSON|  NULL|     M| 4/19/1996|80929; Charles Me...|
|         19|   MS.|     JENNA|       NULL|     DIAZ|  NULL|     F|  3/8/1969|8716; Jenna Haven...|
|         20|  MRS.|     ROBIN|       NULL|    DAVIS|  NULL|     F| 3/12/1906|1487; Alicia Stre...|
+-----------+------+----------+-----------+---------+------+------+----------+--------------------+
only showing top 20 rows

In [27]:
df_sales = df_sales.dropDuplicates()
df_sales.show()

+----------+-----------+----------+--------+-----------+
|  Txn_Date|Customer_Id|Product_Id|Quantity|Total_Sales|
+----------+-----------+----------+--------+-----------+
|23-01-2021|       3445|         9|       1|       10.0|
|02-03-2021|       6918|         6|       1|       50.0|
|11-02-2021|       1585|         3|       1|       30.0|
|08-01-2021|       5719|         2|       2|       40.0|
|05-01-2021|       7647|         9|       1|       10.0|
|11-01-2021|       5770|        10|       2|       50.0|
|21-02-2021|       2879|         9|       1|       10.0|
|17-02-2021|       7649|         6|       2|      100.0|
|05-03-2021|       8201|         3|       1|       30.0|
|02-02-2021|       1571|         2|       2|       40.0|
|17-02-2021|       2703|         7|       1|       60.0|
|09-01-2021|       6584|         5|       2|       20.0|
|13-02-2021|       7373|         4|       2|       80.0|
|04-02-2021|       7797|         6|       1|       50.0|
|18-01-2021|       9005|         2|       1|       20.0|
|18-01-2021|       3883|         1|       1|       10.0|
|06-01-2021|        952|         9|       1|       10.0|
|24-02-2021|       1737|         2|       1|       20.0|
|04-03-2021|       7358|         9|       1|       10.0|
|01-03-2021|       2476|         2|       2|       40.0|
+----------+-----------+----------+--------+-----------+
only showing top 20 rows

In [41]:
df_customers = df_customers.dropDuplicates()
df_customers = df_customers.drop('Middle_Name', 'Suffix')
df_customers = df_customers.withColumn('First_Name', initcap(df_customers['First_Name']))\
            .withColumn('Last_Name', initcap(df_customers['Last_Name']))
df_customers = df_customers.withColumnRenamed('DoB', 'DateOfBirth')
df_customers.show()
df_customers.dtypes

+-----------+------+----------+---------+------+-----------+--------------------+
|Customer_ID|Prefix|First_Name|Last_Name|Gender|DateOfBirth|             Address|
+-----------+------+----------+---------+------+-----------+--------------------+
|       1763|   DR.|   Anthony|  Parsons|     M|  12/7/1960|86; Stokes Island...|
|       1845|   DR.|   Timothy|   Ibarra|     M| 10/24/1944|758; Farrell Spri...|
|       2231|   MR.|      Ryan|   Garcia|     M|  5/17/1932|655; Paul Manor P...|
|       2522|   MS.|     Julie|   Taylor|     F|  2/14/1994|720; Shannon Shor...|
|       2585|  MRS.|  Stefanie|   Lawson|     F|  7/13/1983|361; Megan Lights...|
|       2617|   DR.|      Alex|    Young|     M| 12/28/1943|2466; Veronica Pa...|
|       2723|   MR.|    Rodney|   Bright|     M|  1/23/1974|6921; Hall Villag...|
|       3038|  MRS.|     Karen|    Cooke|     F|  1/10/1925|7504; Wiggins Ext...|
|       3379|  MRS.| Elizabeth|     Sims|     F| 11/24/1954|52122; Ward Shoal...|
|       3400|   DR.|    Steven|    Clark|     M|  7/25/1908|7995; Hall Valley...|
|       3414|   DR.|     Becky|    Banks|     F|  7/17/1947|56769; Scott Fork...|
|       3485|   MR.|     Bryan|  Manning|     M|  4/26/1988|50384; Peters Wal...|
|       4032|   MR.|     Ricky| Mitchell|     M|  2/28/1988|1772; May Landing...|
|       4045|   MR.|      John|   Butler|     M| 10/15/1936|4791; Harper Isla...|
|       4063|   MS.|     Kelly|   Austin|     F|  9/28/1967|1859; Martha Hill...|
|       4616|  MRS.|     Grace| Williams|     F|  5/27/1948|673; Griffin Plaz...|
|       4653|  MRS.|     Janet|     Ryan|     F|   7/1/1970|96719; Sabrina Or...|
|       4671|   DR.|Jacqueline| Whitaker|     F|   8/4/2016|708; Hicks Meadow...|
|       4720|   DR.|  Danielle|Robertson|     F|  1/10/1956|5095; Allen Curve...|
|       4727|   DR.|     David|       Yu|     M|  1/30/2008|5079; Robert Ways...|
+-----------+------+----------+---------+------+-----------+--------------------+
only showing top 20 rows

[('Customer_ID', 'int'),
 ('Prefix', 'string'),
 ('First_Name', 'string'),
 ('Last_Name', 'string'),
 ('Gender', 'string'),
 ('DateOfBirth', 'string'),
 ('Address', 'string')]